:root{
    --primary-color: hsl(330, 100%, 59%) ;
    --secondary-color: #ffffff ;
    --accent1-color: #000 ;
    

}

body{



}
img{
    display: block;


}
.primary{
    background-color: var(--primary-color) ;

    
}