body {
    background-color: lawngreen;
}
h1 {
    background-color: aliceblue;
    color: black;
    padding: 50px 20px;
    margin: 20Px;
    border: 5px solid white;
    border: 10px;
    text-align: center;
}

#smaller {
    font-size: 1.3em;
    background-color: aqua;
}

.highlight {
    background-color: seagreen;
}

h2 {
    background-color: bisque;
}

.Orange {
    background-color: firebrick;
}