body{
    background-color: pink;
}
@media screen and (min-width: 582px) {
    body{
        background-color: seagreen;
    }
}
@media screen and (min-width: 803px) {
    body{
        background-color: blue;
    }
    
}