main{
    display: grid;
    grid-template-columns: 600px 600px 600px;
}
#circles{
    width: 100%;
    grid-column: 1/4;

}
#desk{
    grid-column: 1/2;

}
#graphic{
    grid-column: 2/3;

}
#person{
    grid-column: 3/4;

}