main{
    display: grid;
    justify-items: auto;
    grid-template-columns: 1fr 1fr 1fr;
}
#clircles{

    width: 100%;
    grid-column: 1/4;

}
#desk{
    grid-column: 1/2;

}
#graphic{
    grid-column: 2/3;

}
#person{
    grid-column: 3/4;

}